<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="/public/img/logoChico.png" type="png">
    <link rel="stylesheet" href="/public//css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-aSoHY5n5r5uSYHGP0MYnBv5c1EBJgJyxyIDde62b0vYUchK1tAg5fA/hg/Wnv4b1" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="logo">
            <img src="/public/img/logo.png" width="100px" alt="Logo de la empresa">
        </div>
        <div  class="container-search">
            <input type="search" name="texto"  class="buscar"  placeholder="Ingese el producto a buscar">
            <button class="btn">
                <img src="/public/img/lupa.svg" width="30px">
            </button>

        </div>
        <div class="user-session">
            <p>Bienvenido, [Nombre de Usuario]</p>
            
        </div>
    </header>
    <nav class="menu">
        <ul>
            <li><a href="#">Arma tu PC!</a></li>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Sobre Nosotros</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
    <main>


    </main>
    <footer class="footer">
        <div class="column">
            <h2>Enlaces</h2>
            <ul>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Quienes somos</a></li>
                <li><a href="#">Home</a></li>
            </ul>
        </div>
        <div class="column">
            <h2>Contacto</h2>
            <p>Correo: storeok@gmail.com</p>
            <p>Teléfono: (3834) 456-7890</p>
        </div>
        <div class="column">
            <h2>Redes Sociales</h2>
            <ul>
                <li><a href="#"><img src="/public/img/facebook.svg" width="20" >facebook</a></li>
                <li><a href="#"><img src="/public/img/twitter.svg" width="20" >Twitter</a></li>
                <li><a href="#"><img src="/public/img/instagram.svg" width="20" >Instagram</a></li>
            </ul>
        </div>
    </footer>
    
</body>
</html>